.aboutus {
  padding: 60px 0;
  width: 100%;

  &__div {
    background: white;
    padding: 40px 20px 180px 20px;
    @include flex(center, flex-start, column);
    gap: 24px;
    margin-bottom: -120px;

    &__span {
      @include font($roboto, 13px, 700, 18px, $blackD);
      letter-spacing: 2.8px;
    }
    &__h2 {
      @include font($old, 56px, 400, 60px, $black1);
      text-transform: capitalize;
    }
    &__p{
        @include font($roboto, 14px, 400, 24px, $black3);
    }
  }

  &__card {
    @include flex(center, flex-start, column);
    width: 75vw;
    height: 640px;
    margin: 0 auto;
    box-shadow: 0 0 4px $blackD;
    margin-bottom: 45px;

    &__image {
      width: 100%;
      height: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__div {
      @include flex(center, center, column);
      padding: 12px 40px;
      text-align: center;
      height: 50%;
      gap: 30px;
      position: relative;

      &__icon {
        width: 68px;
        z-index: 3;
      }

      &__iconBack {
        position: absolute;
        width: 180px;
        top: 40px;
        right: 10px;
        opacity: 0.1;
      }
    }

    &--dark {
      .aboutus__card__div {
        background: $black1;

        &__h3,
        &__p {
          color: $whiteFFF;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .aboutus {
    padding: 60px 0;
    position: relative;
    @include flex(flex-start, center, row);
    padding: 60px 45vw 0px 10vw;
    margin-bottom: 150px;

    &__div {
      position: absolute;
      right: 0;
      bottom: 100px;
      width: 50vw;
      padding-left: 10vw;

      &__span {
        margin-top: -86px;
      }

      &__h2 {
        width: 50%;
      }

      &__p {
        width: 45%;
      }
    }

    &__card {
      @include flex(center, flex-start, column-reverse);
      gap: 30px;
      width: 20vw;
      box-shadow: none;
      z-index: 12;

      &__image {
        box-shadow: 0 0 4px $blackD;
      }

      &__div {
        box-shadow: 0 0 4px $blackD;
      }

      &--dark {
        margin-top: 40px;
        @include flex(center, flex-start, column);
      }
    }
  }
}
