footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 60px;
    padding: 32px 22px;
    background: url(/assets/images/footerBack.png) center center / cover no-repeat;

    .socials {
        @include flex(center, flex-start, column);

        &__logo {
            margin-left: -20px;
        }

        &__description {
            margin-bottom: 20px;
            width: 80%;
        }

        &__list {
            @include flex(center, flex-start, row);
            gap: 26px;
            margin-bottom: 32px;
            list-style: none;

            &__item-solid {
                padding: 4px;
                background: $gold;
                @include flex(center, flex-start, row);
                margin-top: -4px;
            }
        }
    }

    .services {
        &__title {
            font-size: 24px;
            margin-bottom: 12px;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            &__column {
                @include flex(flex-start, flex-start, column);

                &__item {
                    @include font($roboto, 16px, 400, 48px, $black3);
                    opacity: .8;
                    text-transform: capitalize;
                    list-style: none;
                }

                &__item::before {
                    content: '+';
                    margin-right: 8px;
                    color: $black3;
                    opacity: .8;
                }
            }
        }
    }

    .contact {
        @include flex(center, flex-start, column);
        gap: 40px;
        margin-top: 32px;
        margin-bottom: 50px;

        &__title {
            font-size: 24px;
        }

        &__section {
            @include flex(flex-start, center, row);
            gap: 22px;

            &__info {
                &__title {
                    @include font($old, 20px, 400, 24px, $black3);
                    text-transform: capitalize;
                }

                &__description {
                    @include font($roboto, 14px, 400, 20px, $black3);
                    opacity: .6;
                    text-transform: capitalize;
                }
            }
        }
    }

    .copyright {
        background: $blackD;
        width: 87.5vw;
        @include flex(center, flex-start, column);
        gap: 12px;
        position: relative;
        left: -20px;
        bottom: -32px;
        p {
            @include font($roboto, 16px, 700, 30px, $black3);
        }
    }
}

@media (min-width: 1000px) {
    footer {
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        padding: 40px 5vw 200px;

        .services {
            margin-top: 35px;
        }

        .copyright {
            position: absolute;
            bottom: 0;
            left: 0px;
            padding: 30px 5vw;
            width: 100%;
        }
    }
}